body {
    background-color:burlywood;
}

h1 {
    background-color: brown;
    color:black ;
    text-align:center;
    padding: 10px;
}

h2 {
    background-color: rgb(32, 6, 56);
    color: white;
    text-align:center;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}